.center-vertical {
  padding-top: 80px;
  padding-bottom: 60px;
}

.img-login {
    background-image: url("http://www.advanced-games.com/wp-content/uploads/2017/02/world-of-warcraft-legion.jpg");
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}